<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTDPLIST1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>$(DEVELOPMENT_LANGUAGE)</string>
        <key>CFBundleDisplayName</key>
        <string>Flutter Dynamic Icons</string>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>dynamic_icons_example</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>$(FLUTTER_BUILD_NAME)</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>$(FLUTTER_BUILD_NUMBER)</string>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>UILaunchStoryboardName</key>
        <string>LaunchScreen</string>
        <key>UIMainStoryboardFile</key>
        <string>Main</string>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationPortraitUpsideDown</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true/>
        <key>UIApplicationSupportsIndirectInputEvents</key>
        <true/>
        <key>CFBundleIcons</key>
        <dict>
            <!-- Default app icon -->
            <key>CFBundlePrimaryIcon</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>black</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>

            <key>CFBundleAlternateIcons</key>
            <dict>
                <!-- First custom icon - Black -->
                <key>black</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>black</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>

                <!-- Second custom icon - Gradient -->
                <key>gradient</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>gradient</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>

                <!-- Third custom icon - Galaxy -->
                <key>galaxy</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>galaxy</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
            </dict>
        </dict>
        <!-- iPad Icons -->
        <key>CFBundleIcons~ipad</key>
        <dict>
            <key>CFBundlePrimaryIcon</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>black</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>CFBundleAlternateIcons</key>
            <dict>
                <!-- First custom icon - Black -->
                <key>black</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>blackIpadPro</string>
                        <string>blackIpad</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>

                <!-- Second custom icon - Gradient -->
                <key>gradient</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>gradientIpadPro</string>
                        <string>gradientIpad</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>

                <!-- Third custom icon - Galaxy -->
                <key>galaxy</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array>
                        <string>galaxyIpadPro</string>
                        <string>galaxyIpad</string>
                    </array>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
            </dict>
        </dict>
    </dict>
</plist>
